.card-body {
  padding: 0.18rem 1rem;
}
.card {
  color: rgb(99, 99, 99);
  font-weight: 550;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.047);
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.25s ease;
  min-height: 33.75px;
}
.card:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 600px) {
  .card-body {
    padding: 0.18rem 0.5rem;
  }
  .card {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .card-body {
    padding: 0.18rem 0.4rem;
  }
  .card {
    font-size: 0.7rem;
  }
}
